.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

/* Pseudo classes */

#hov:hover {
  background-color: aquamarine;
  color: darkgreen;
}

#foc:focus {
  background-color: cornflowerblue;
}

#act:active {
  background-color: crimson;
}

#nth {
  li:nth-child(odd) {
    background-color: cyan;
  }

  li:nth-child(even) {
    background-color: darkblue;
    color: aliceblue;
  }
}

/* Pseudo elements */

.exBA {
  font-size: 45px;
  font-family: sans-serif;
  text-align: center;
  margin-top: 200px;

  &::before {
    content: '«';
    color: grey;
    display: block;
    height: 50px;
    width: 50px;
  }

  &::after {
    content: '»';
    color: grey;
    display: block;
    height: 50px;
    width: 50px;
  }
}

/* Properties */

#colour {
  background-color: rgba(130, 200, 165, 0.1);
}

#cir {
  width: 150px;
  height: 150px;
  background-color: pink;
  // border-radius: 50%;
  // transform: scale(1);
  // transform: translate(250px, 0px);
  // transform: rotate(45deg);
  transform: skew(20deg, 20deg);
}

/* Transition */

.box {
  width: 200px;
  height: 200px;
  margin: 50px;
  background-color: cyan;
  //transition-property: background, transform;
  //transition-duration: 1.5s; // 500ms = 0.5s = .5s
  // transition-delay: 1s;
  //transition-timing-function: ease-out; // ease-in
  transition: all 1s ease-in;

  &:hover {
    background-color: crimson;
    transform: rotate(45deg);
  }
}

/* Animation */

.boxAnim{
  background-color: pink;
  margin: 50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  // animation-name: colours;
  // animation-duration: 3s;
  // animation-fill-mode: forwards;
  // animation-delay: 2s;
  // animation-iteration-count: infinite;
  // animation-play-state: paused;
  // animation-timing-function: ease-in;
  // animation-direction: alternate;
  animation: colours 3s alternate infinite;
}

@keyframes colours {
  0% {
    background-color: pink;
  }
  30% {
    background-color: yellow;
  }
  50% {
    background-color: red;
  }
  70% {
    background-color: violet;
  }
  100% {
    background-color: green;
  }
}